.intro {
  .intro-main {
    margin-bottom: 3em;

    h1 {
      margin: 0.3em 0;
    }

    h2 {
      font-size: 1.3em;
    }

    .icons {
      a > i {
        transition: transform 0.5s;

        &:hover {
          transform: scale(1.2);
        }
      }

      > * {
        margin-right: 1em;
      }
    }
  }

  .intro-text {
    font-size: clamp(0.8rem, 4vw, 1.2rem);
    line-height: 1;
  }
}
