@import '../../../colors';

.jobs {
  padding-top: 5em;

  .jobs-heading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .download-resume {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;

      i {
        margin-right: 0.5em;
      }
    }
  }

  $radius: 0.5em;

  .job {
    h2 {
      font-size: 1.4em;
    }

    h3 {
      font-size: 1.2em;
    }

    border-top: 1px solid $primary;

    &:nth-child(2n) {
      border-right: 1px solid $primaryDark;
      border-top-right-radius: $radius;
    }

    &:nth-child(2n + 1) {
      border-left: 1px solid $primaryDark;
      border-top-left-radius: $radius;
    }

    &:first-child {
      border-top-left-radius: 0;
    }

    padding: 1em 2em;

    .dates {
      font-size: 0.9em;
      color: $grey;
    }
  }
}
