@import '~@fontsource/roboto-condensed/400.css';
@import '~@fontsource/share-tech-mono/400.css';
@import '~prismjs/themes/prism-tomorrow.css';
@import 'tailwind';
@import 'colors';

html {
  background-color: $background;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.2em;
  color: $white;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

pre {
  font-family: 'Share Tech Mono', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Share Tech Mono', monospace;
  color: $primary;

  line-height: 1;
  margin: 0.3em 0;
  word-spacing: -0.2em;
}

h1 {
  font-size: 3em;

  @media (max-width: 580px) {
    font-size: 2.2em;
  }
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.7em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.3em;
}

h6 {
  font-size: 1.2em;
}

p {
  margin: 0.8em 0 1em 0;
}

a {
  color: $secondary;
  font-weight: 600;
  text-decoration: none;

  transition: color 0.3s;

  &:hover {
    color: $active;
  }
}

.button {
  display: inline-block;
  padding: 0.4em 0.6em;
  border-radius: 5px;

  cursor: pointer;

  color: $background;
  font-size: 0.9em;
  font-weight: 600;
  text-decoration: none;
  line-height: 1.1em;

  background-color: $primary;

  transition: background-color 0.2s ease-in-out;

  &:hover {
    text-decoration: none;
    color: $background;
    background-color: rgba($primary, 0.8);
  }
}

.hidden {
  display: none;
}

.load-hidden {
  visibility: hidden;
}

.arrow-scroll-down {
  position: absolute;
  left: 0;
  bottom: 3em;
  width: 100%;

  > * {
    font-size: 2em;
    color: rgba($white, 0.2);
    text-align: center;

    opacity: 0;
    animation: 4s linear 3s infinite bounceDown;
  }
}

@keyframes bounceDown {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  10% {
    opacity: 1;
    transform: translateY(10px);
  }
  20% {
    transform: translateY(0px);
  }
  30% {
    transform: translateY(10px);
  }
  50% {
    opacity: 0;
    transform: translateY(0);
  }
}
