@import '../../../../colors';

.post {
  h3 {
    margin-top: 1em;
  }

  .subheader {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 0.5em;

    .date {
      color: $grey;
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5em;
      font-size: 0.9em;
    }
  }

  .content {
    p,
    li {
      line-height: 1.5em;
    }

    li {
      list-style: disc inside;
      margin: 0.3em 0 0.5em 0;
    }

    a {
      white-space: nowrap;
    }

    pre {
      padding: 1em 1.5em;
      font-size: 0.8em;
      line-height: 1.5rem;
      border-radius: 0.5em;
      background-color: $backgroundDark;
      white-space: pre-wrap;
    }

    .language-text {
      font-size: 0.8em;
      padding: 0.3em;
      background-color: $backgroundDark;
    }
  }

  table {
    border-radius: 0.5em;
    background-color: $backgroundDark;
    width: 100%;

    th {
      border-bottom: 0.1em solid $background;
    }

    th,
    td {
      padding: 0.5em 1em;
    }
  }
}
